@import "../styles.scss";

main {
  .game-board {
    display: flex;
    flex-direction: column;
    height: 40vh;

    &__cards {
      display: flex;
      flex-direction: row;
    }

    &__loading-indicator {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
    }
  }

  .fade-in {
    transition: opacity 0.5s ease-in-out;
    opacity: 1;
  }

  .fade-out {
    opacity: 0;
  }

  .scale-in {
    transform: scale(1);
  }

  .scale-out {
    transform: scale(0);
  }
}
