@import "../styles.scss";

main {
  //   display: flex;
  //   flex-direction: row;

  .game-board {
    display: flex;
    flex-direction: column;
    height: 40vh;

    .cards {
      display: flex;
      flex-direction: row;
    }

    mat-card {
      background-color: $secondary-color;
      width: 300px;
      border: 2px solid yellow;
      margin: 16px;
    }

    .loading-indicator {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
    }
  }

  .fade-in {
    transition: opacity 0.5s ease-in-out;
    opacity: 1;
  }

  .fade-out {
    opacity: 0;
  }

  .scale-in {
    transform: scale(1);
  }

  .scale-out {
    transform: scale(0);
  }
}
